<div class="content-body">
    <div class="container-fluid mt-3">
		<i class="icon-note menu-icon btn-lg"></i><span class="h3"> Información a Verificar</span>
		<p>
        <div class="row">
			<div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <%= form_for :digital, :url => { :action => :index, :id => @digital.id }, :method => :put do |digital| %>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="col-sm-12 col-form-label col-form-label-lg"> Información de Digitalización</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Número de Lote</label>
                                        <input type="text" name="digital[nro_lote]" class="form-control" required="" readonly="" value="<%= @digital.nro_lote %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>ID Usuario</label>
                                        <input type="number" name="digital[user_id]" class="form-control" required="" readonly="" value="<%= @digital.user_id %>">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Documento</label>
                                        <input type="text" name="digital[documento]" class="form-control" required="" readonly="" value="<%= @digital.documento %>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Número de Páginas</label>
                                        <input type="number" name="digital[nro_pages]" class="form-control" required="" readonly="" value="<%= @digital.nro_pages %>">
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <%= form_for :indizacion, :url => { :action => :index, :id => @digital.id }, :method => :put do |indizacion| %>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="col-sm-12 col-form-label col-form-label-lg"> Información de Indización</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Tipo de Documento</label>
                                        <input type="text" name="indizacion[tipo_doc]" class="form-control" required="" readonly="" value="<% if @indizacion %><%= @indizacion.tipo_doc %><%end%>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Número del Documento</label>
                                        <input type="number" name="indizacion[num_doc]" class="form-control" required="" readonly="" value="<% if @indizacion %><%= @indizacion.num_doc %><%end%>">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Fecha del Documento</label>
                                        <input type="date" name="indizacion[fecha_doc]" class="form-control" readonly="" value="<% if @indizacion %><%= @indizacion.fecha_doc %><%end%>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>ID Usuario</label>
                                        <input type="number" name="indizacion[user_id]" class="form-control" required="" readonly="" readonly="" value="<%= @indizacion.user_id %>">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Inicio de Folio</label>
                                        <input type="number" name="indizacion[ini_fol]" class="form-control" readonly="" value="<% if @indizacion %><%= @indizacion.ini_fol %><%end%>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Fin de Folio</label>
                                        <input type="number" name="indizacion[fin_fol]" class="form-control" readonly="" value="<% if @indizacion %><%= @indizacion.fin_fol %><%end%>">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Inicio de Documento </label>
                                        <input type="number" name="indizacion[ini_doc]" class="form-control" readonly="" value="<% if @indizacion %><%= @indizacion.ini_doc %><%end%>">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Fin de Documento </label>
                                        <input type="number" name="indizacion[fin_doc]" class="form-control" readonly="" value="<% if @indizacion %><%= @indizacion.fin_doc %><%end%>">
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <%= form_for :review, :url => { :action => :update, :id => @digital.id }, :method => :put do |review| %>
                                <input type="number" name="review[doc_id]" class="form-control" required="" hidden="" value="<%= @digital.id %>">
                                <input type="number" name="review[user_id]" class="form-control" required="" hidden="" value="<%= current_user.id %>">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Resolución</label>
                                        <select name="review[resolucion]" id="inputState" class="form-control" required="">
                                            <option></option>
                                            <% @tipres.each do |r| %>
                                                <option <% if @review && @review.resolucion == r.descripcion %>selected=""<% end %>><%= r.descripcion %></option>
                                            <% end %>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Observación</label>
                                        <input type="text" name="review[observacion]" class="form-control" value="<% if @review %><%= @review.observacion %><%end%>">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg" id="toastr-success-top-right">Grabar</button>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>