<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Ositran [Proyecto Desarrollo para Entorno Web]</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href=<%= path_to_image("logo.png") %>>
    <!-- Pignose Calender -->
    <%= stylesheet_link_tag "plugins/pg-calendar/css/pignose.calendar.min.css" %>
    <!-- Chartist -->
    <%= stylesheet_link_tag "plugins/chartist/css/chartist.min.css" %>
    <%= stylesheet_link_tag "plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css" %>
    <!-- Custom Stylesheet -->
    <%= stylesheet_link_tag "css/style.css" %>
    <%= stylesheet_link_tag "plugins/toastr/css/toastr.min.css" %>
    <%= stylesheet_link_tag "plugins/sweetalert/css/sweetalert.css" %>
</head>

<body>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header" id="cus-nav-header">
            <div class="brand-logo">
                <a href=<%= pages_index_path %>>
                    <b class="logo-abbr"><img src=<%= path_to_image("logo.png") %> alt=""> </b>
                    <span class="logo-compact"><img src=<%= path_to_image("logo.png") %> alt=""></span>
                    <span class="brand-title">
                        <img src=<%= path_to_image("logo-compact.png") %> alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header" id="cus-header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">
                                    <% if logged_in? %>
                                        <%= current_user_task %>
                                    <% end %>
                                </span>
                            </a>
                        </li>

                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">
                                <span>
                                    <% if logged_in? %>
                                        <%= current_user.nombre %> <%= current_user.apellido_paterno %> <%= current_user.apellido_materno %>
                                    <% end %>
                                </span>
                            </a>
                        </li>

                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                    <% if logged_in? %>
                                        <img src="<%= current_user.imglote_url %>" height="40" width="40" alt="">
                                    <% end %>
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <% if logged_in? %>
                                                <a href="/users/<%= current_user.id %>/profile">
                                                    <i class="icon-user"></i>
                                                    <span>Perfil</span>
                                                </a>
                                            <%end%>
                                        </li>
                                        <li>
                                            <a href=<%= logins_logout_path %>>
                                                <i class="icon-key"></i>
                                                <span>Cerrar Sesión</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%= render 'layouts/menu' %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <%= yield %>

        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer" id="cus-footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <%= javascript_include_tag "plugins/common/common.min.js" %>
    <%= javascript_include_tag "js/custom.min.js" %>
    <%= javascript_include_tag "js/settings.js" %>
    <%= javascript_include_tag "js/gleek.js" %>
    <%= javascript_include_tag "js/styleSwitcher.js" %>
    <!-- Chartjs -->
    <%= javascript_include_tag "plugins/chart-js/Chart.bundle.min.js" %>
    <!-- Circle progress -->
    <%= javascript_include_tag "plugins/circle-progress/circle-progress.min.js" %>
    <!-- Datamap -->
    <%= javascript_include_tag "plugins/d3v3/index.js" %>
    <%= javascript_include_tag "plugins/topojson/topojson.min.js" %>
    <%= javascript_include_tag "plugins/datamaps/datamaps.world.min.js" %>

    <!-- Morrisjs -->
    <%= javascript_include_tag "plugins/raphael/raphael.min.js" %>
    <%= javascript_include_tag "plugins/morris/morris.min.js" %>
    <!-- Pignose Calender -->
    <%= javascript_include_tag "plugins/moment/moment.min.js" %>
    <%= javascript_include_tag "plugins/pg-calendar/js/pignose.calendar.min.js" %>
    <!-- ChartistJS -->
    <%= javascript_include_tag "plugins/chartist/js/chartist.min.js" %>
    <%= javascript_include_tag "plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js" %>
    <!-- Toastr -->
    <%= javascript_include_tag "plugins/toastr/js/toastr.min.js" %>
    <%= javascript_include_tag "plugins/toastr/js/toastr.init.js" %>
    <!-- Sweetalert -->
    <%= javascript_include_tag "plugins/sweetalert/js/sweetalert.min.js" %>
    <%= javascript_include_tag "plugins/sweetalert/js/sweetalert.init.js" %>
</body>
</html>